@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="~/css/site.css" />
    <link href="~/js/site.js" />
</head>
<div class="text-center">
    <h1 class="display-4">Favorite Music</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2dTMIH5gCHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>the above is my current favorite song</p>

    <p>
        <button onclick="myMove()">Click Me</button>
    </p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>

</body>